<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 item">
                <h3>Categories</h3>
                <ul>
                    {% for item in site.data.main-nav %}
                <li
				<a href="{{ item.link }}"> {{ item.name }}
				</a>
				</li>
				
           {% endfor %}
                </ul>
            </div>
            <div class="col-sm-6 col-md-3 item">
                <h3>About</h3>
                <ul>
                    <li><a href="#">Company</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>{{ site.title | escape }}</h3>
                <p>{{- site.description | escape -}}</p>
            </div>
            <div class="col item social">
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-facebook"></i></a>
			<a href="#"><i class="fab fa-youtube"></i></a>
			</div>
        </div>
        <p class="copyright">{{ site.title | escape }} © {{ 'now' | date: "%Y" }}</p>
    </div>
</footer>