<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col item">
                <h3>সংবাদ</h3>
                <ul>
                    {% for item in site.data.main-nav %}
                <li>
				<a href="{{ item.link | relative_url }}"> {{ item.b }}
				</a>
				</li>
				
           {% endfor %}
                </ul>
            </div>
            <div class="col item">
                <h3>সাইট লিঙ্ক</h3>
                <ul>
                   {% for item in site.data.footer-site-links %}
                <li>
				<a href="{{ item.link | relative_url }}"> {{ item.name }}
				</a>
				</li>
				{% endfor %}
                </ul>
            </div>
            <div class="col-md-6 item text">
                <h3>{{ site.title | escape }}</h3>
                <p>{{- site.description | escape -}}</p>
            </div>
            <div class="col-sm-12 item social">
			<a href="#"><i class="fab fa-twitter"></i></a>
			<a href="#"><i class="fab fa-facebook"></i></a>
			<a href="#"><i class="fab fa-youtube"></i></a>
			</div>
        </div>
        <p class="copyright">{{ site.title | escape }} © {{ 'now' | date: "%Y" }}</p>
    </div>
</footer>
