<section class="posts-home">
    <div class="container">
        <div class="row projects">
		{% for post in site.posts limit: 1 %}
            <div class="col-sm-12 item first">
                <div class="row">
                    <div class="col-md-12 col-lg-5"><a href="{{ post.url | relative_url }}"><img class="img-fluid" src="{% if post.img %}{{ post.img  | relative_url }} {% else %}{{ /assets/images/default.jpg | relative_url }}{% endif %}" /></a></div>
                    <div class="col"><a href="{{ post.url | relative_url }}">
                            <h3 class="name"><strong>{{ post.title }}</strong></h3>
                        </a></div>
                </div>
            </div>
		{% endfor %}
		{% for post in site.posts limit: 4 offset:continue %}
            <div class="col-sm-12 col-md-6 col-lg-6 item other">
                
					    <a href="{{ post.url | relative_url }}">
                            <h3 class="name"><strong>{{ post.title }}</strong></h3>
                        </a>
                        <p class="description">
						{{ post.excerpt  | truncatewords: 25, "..." }}
						</p>
                    
               
            </div>
            
         {% endfor %}   
        </div>
    </div>
</section>
