<nav class="navbar navbar-light navbar-expand-lg sticky-top navigation-clean-search">
    <div class="container">
	<a class="navbar-brand" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>
	<button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav">
			{% for item in site.data.main-nav %}
                <li class="nav-item {% if page.url == item.link %} active {% endif %}"><a class="nav-link" href="{{ item.link | relative_url  }}"> {{ item.name }}</a></li>
				
           {% endfor %}
                
            </ul>
            <form class="me-auto search-form" target="_self">
                <div class="d-flex align-items-center"><label class="form-label d-flex mb-0" for="search-field"><i class="fa fa-search"></i></label><input class="form-control search-field" type="search" id="search-field" name="search" /></div>
            </form><a class="btn btn-light action-button" role="button" href="#">Action </a>
        </div>
    </div>
</nav>