---
layout: default
---
<!-- Start of generated category page -->
<div class="container">

{%- assign category = 'Category' -%}
{%- if site.data.text-for.tCategory -%}
{%- assign category = site.data.text-for.tCategory -%}
{%- endif %}
	<header class="page-header">
		<h1 class="page-title" style="display:inline-block;border-bottom:8px solid #20c997;padding-bottom:1.5rem">{{ page.b-title | capitalize }}</h1>
	</header>
	<div id="post-list">
{%- assign found = false -%}
{%- for post in site.posts -%}
	{%- if post.categories -%}
		{%- for cat in post.categories -%}
			{%- if cat == page.title -%}
				{%- assign found = true %}
										
					
					<article>
    <div class="row">
        <div class="col-5 col-sm-7 col-md-4"><img class="img-fluid" src={% if post.img != '' %} 
					"{{ post.img  | relative_url }}" 
					{% else %} 
					"{{ "/assets/images/default.jpg" | relative_url }}" {% endif %}/></div>
        <div class="col">
            <a href="{{ post.url | relative_url }}"><h3>{{ post.title }}</h3></a>
        </div>
    </div>
	</article>

			{%- endif -%}
		{%- endfor -%}
	{%- endif -%}
{%- endfor -%}
</div>
	</div>
<!-- End of generated category page -->
