---
layout: default
---
<!-- Start of generated category page -->
<div class="container">

{%- assign category = 'Category' -%}
{%- if site.data.text-for.tCategory -%}
{%- assign category = site.data.text-for.tCategory -%}
{%- endif %}
	<header class="page-header">
		<h1 class="page-title" style="display:inline-block;border-bottom:8px solid #20c997;padding-bottom:1.5rem">{{ page.b-title | capitalize }}</h1>
	</header>
	<div id="post-list">
{%- assign found = false -%}
{%- for post in paginator.posts -%}
	{%- if post.categories -%}
		{%- for cat in post.categories -%}
			{%- if cat == page.title -%}
				{%- assign found = true %}
										
					
					<article>
    <div class="row">
        <div class="col-5 col-sm-7 col-md-4"><img class="img-fluid" src={% if post.img != '' %} 
					"{{ post.img  | relative_url }}" 
					{% else %} 
					"{{ "/assets/images/default.jpg" | relative_url }}" {% endif %}/></div>
        <div class="col">
            <a href="{{ post.url | relative_url }}"><h3>{{ post.title }}</h3></a>
        </div>
    </div>
	</article>

			{%- endif -%}
		{%- endfor -%}
	{%- endif -%}
{%- endfor -%}
</div>
<!-- Pagination links -->

<nav aria-label="Page navigation" class="mx-auto">
  <ul class="pagination">
  {% if paginator.previous_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.previous_page_path  | relative_url }}" >Previous</a></li>
   {% else %}
   <li class="page-item disabled"><a class="page-link">Previous</a></li>
   {% endif %}
    <li class="page-item"><span class="page-link">Page: {{ paginator.page }} of {{ paginator.total_pages }}</span></li>
   {% if paginator.next_page %}
    <li class="page-item"><a class="page-link" href="{{ paginator.next_page_path  | relative_url }}">Next</a></li>
	{% else %}
    <li class="page-item disabled"><a class="page-link">Next</a></li>
	{% endif %}
  </ul>
</nav>
</div>
	</div>
<!-- End of generated category page -->
