<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "ben" }}">

  {%- include head.html -%}

  <body {% if page.url!='/' %} onload="fixnav()"{% endif %}>
  <div id="not-footer" onload="pageloaded()">
  {% if site.constructing %}
  k
  {% else %}
  {%-  include social-navbar.html -%}

  {% if page.url == "/" %}
    {%- include featured-header.html -%}
  {% endif %}
    {%- include navbar.html -%}

    <main class="page-content" aria-label="Content" style="margin-top:64px">
   
        {{ content }}
    </main>
</div>
    {%- include footer-black.html -%}
{% endif %}
  </body>
<script defer src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
<script defer src="{{ "/assets/js/misc.js" | relative_url }}"></script>

</html>
