<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
  {% if site.constructing %}
  k
  {% else %}
  {%-  include social-navbar.html -%}

  {% if page.url == "/" %}
    {%- include featured-header.html -%}
  {% endif %}
    {%- include navbar.html -%}

    <main class="page-content" aria-label="Content" style="padding:128px 0;">
   
        {{ content }}
    </main>

    {%- include footer-black.html -%}
{% endif %}
  </body>
<script defer src="{{ "/assets/js/bootstrap.min.js" | relative_url }}"></script>
</html>
