---
layout: default
---
<section id="post">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 post-content">
			<a class="btn btn-primary" href="{{ page.category | relative_url  }}.html">
			{{ page.b-category }}</a>
			<p class="post-meta">
			{% assign months = "জানুয়ারি|ফেব্রুয়ারি|মার্চ|এপ্রিল|মে|জুন|জুলাই|আগষ্ট|সেপ্টেম্বর|অক্টোবর|নভেম্বর|ডিসেম্বর" | split: "|" %}
            {% assign m = page.date | date: "%-m" | minus: 1 %}
            {% assign day = page.date | date: "%d" %}
            {% assign month = months[m] %}
            {% assign year = page.date | date: "%y" %}
            <p class="date"><span class="num">{{ day }}</span> {{ month }}, <span class="num">{{ year }}</span></p>
			 <h1 itemprop="name headline">{{ page.title | escape }}</h1>
			<img class="post-img" src=
{% if page.img != '' %} "{{ page.img  | relative_url }}" {% else %} 
					"{{ "/assets/images/default.jpg" | relative_url }}" {% endif %}  />
			
                
                <div class="post-body">
    {{ content }}
              </div>
			  
			  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}
            </div>
            <div class="col align-self-center post-sidebar">
                <aside class="share-post">
                    <div>
                        <h6>Share this</h6><a href="#"><i class="fab fa-facebook"></i></a><a href="#"><i class="fas fa-link"></i></a>
                    </div>
                </aside>
                <h3>দেখতে পারেন</h3>
				
                <aside class="post-sidebar-aside">

{% for post in site.posts limit:6 %}
   {% if post.url != page.url %}
                    <article class="with-image">
					    <p style="margin-top:4px;margin-bottom:0;">{{ post.b-category }}</p>
                        <a href="{{ post.url | relative_url }}">
						<h5>{{ post.title }}</h5>
						</a>
                    </article>  
			{% endif %}
    {% endfor %}
                </aside>
            </div>
        </div>
    </div>
	  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</section>
<script>
var enDate = document.querySelectorAll('.num');
var stringDate = [];
i=0;
enDate.forEach(function(d){
	stringDate[i] = Number(d.innerHTML);
	enDate[i].innerHTML = stringDate[i].toLocaleString('ben-BD');
	i++;
});
</script>